[
	{oauth2_s2s, [
        {token_exp_time, 300}, %% default 3600
        {rsa_key_path, ""},
        {host, <<"https://www.googleapis.com/oauth2/v4/token">>},
        {iss, <<"">>},
        {scope, <<"https://www.googleapis.com/auth/pubsub">>},
        {aud, <<"https://www.googleapis.com/oauth2/v4/token">>},
        {grant_type,<<"urn:ietf:params:oauth:grant-type:jwt-bearer">>}
	]}
].

